@page "/"
@inject NavigationManager NavigationManager
@inject ECommerce.ECommerceService eCommerceService
@inject Northwind.NorthwindService northwindService
@inject CRMApp.CRMAppService cRMAppService

<div class="row-layout home-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <div class="column-layout group_2">
                <p class="typography__body-1 text">
                    Quarterly Performance
                </p>
                <IgbCategoryChart DataSource="eCommerceRevenue" ChartType="CategoryChartType.Column" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="category-chart" home-scope></IgbCategoryChart>
                <a href class="typography__body-2 hyperlink">
                    View All Reports
                </a>
            </div>
            <div class="column-layout group_3">
                <p class="typography__body-1 text">
                    New Contracts
                </p>
                <IgbDataGrid DataSource="northwindCustomers" Density="ControlDisplayDensity.Cosy" AutoGenerateColumns="false" SelectionMode="GridSelectionMode.None" DefaultColumnMinWidth="136" class="grid" home-scope>
                    <IgbTextColumn Field="CustomerID" HeaderText="customerID" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="CompanyName" HeaderText="companyName" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="ContactName" HeaderText="contactName" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="ContactTitle" HeaderText="contactTitle" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="Address.Street" HeaderText="street" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="Address.City" HeaderText="city" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="Address.Region" HeaderText="region" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="Address.PostalCode" HeaderText="postalCode" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="Address.Country" HeaderText="country" IsFilteringEnabled="true"></IgbTextColumn>
                    <IgbTextColumn Field="Address.Phone" HeaderText="phone" IsFilteringEnabled="true"></IgbTextColumn>
                </IgbDataGrid>
                <a href class="typography__body-2 hyperlink">
                    View All Reports
                </a>
            </div>
        </div>
        <div class="column-layout group_4">
            <div class="column-layout group_5">
                <p class="typography__body-1 text">
                    New Accounts
                </p>
                <div class="column-layout group_6">
                    <IgbList class="list" home-scope>
                        @foreach (var item in northwindCustomers)
                        {
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Account-List-Avatar-Icon.svg" class="avatar" home-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="column-layout group_7">
                                        <a href class="typography__body-2 hyperlink_1" @onclick="@(e => Navigate("account-sample"))">
                                            @item.CompanyName
                                        </a>
                                        <p class="typography__subtitle-2 text_1">
                                            @item.ContactName
                                        </p>
                                        <div class="row-layout group_8">
                                            <p class="typography__caption text_2">
                                                @item.Address?.Street
                                            </p>
                                            <p class="typography__caption text_3">
                                                ,
                                            </p>
                                            <p class="typography__caption text_2">
                                                @item.Address?.City
                                            </p>
                                            <p class="typography__caption text_3">
                                                ,
                                            </p>
                                            <p class="typography__caption text_2">
                                                @item.Address?.Country
                                            </p>
                                        </div>
                                        <p class="typography__caption text_2">
                                            @item.Address?.Phone
                                        </p>
                                    </div>
                                </div>
                            </IgbListItem>
                        }
                    </IgbList>
                </div>
                <a href class="typography__body-2 hyperlink">
                    View All Accounts 
                </a>
            </div>
            <div class="column-layout group_5">
                <p class="typography__body-1 text">
                    Recent Contacts
                </p>
                <div class="column-layout group_6">
                    <IgbList class="list" home-scope>
                        @foreach (var item in northwindCustomers)
                        {
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Contacts-List-Avatar-Icon.svg" class="avatar" home-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="column-layout group_7">
                                        <a href class="typography__body-2 hyperlink_1">
                                            @item.ContactName
                                        </a>
                                        <div class="row-layout group_9">
                                            <p class="typography__caption text_1">
                                                @item.ContactTitle
                                            </p>
                                            <p class="typography__caption text_2">
                                                @@
                                            </p>
                                            <a href class="caption hyperlink_2">
                                                @item.CompanyName
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </IgbListItem>
                        }
                    </IgbList>
                </div>
                <a href class="typography__body-2 hyperlink">
                    View All Contacts 
                </a>
            </div>
        </div>
        <div class="column-layout group_4">
            <div class="column-layout group_3">
                <p class="typography__body-1 text">
                    My Meetings
                </p>
                <IgbList class="list" home-scope>
                    @foreach (var item in cRMAppMeetingsTasks)
                    {
                        <IgbListItem>
                            <div slot="start">
                                <IgbAvatar Src="assets/Calendar-Avatar-Icon.svg" class="avatar" home-scope></IgbAvatar>
                            </div>
                            <div>
                                <div class="column-layout group_7">
                                    <div class="row-layout group_10">
                                        <p class="typography__subtitle-2 text_1">
                                            Meeting with 
                                        </p>
                                        <p class="typography__subtitle-2 text_1">
                                            @item.Contact
                                        </p>
                                    </div>
                                    <div class="row-layout group_11">
                                        <p class="typography__caption text_2">
                                            @item.MeetingDate
                                        </p>
                                        <p class="typography__caption text_2">
                                            -
                                        </p>
                                        <p class="typography__caption text_2">
                                            @item.MeetingTime
                                        </p>
                                    </div>
                                    <IgbChip Size="SizableComponentSize.Large" class="chip" home-scope>
                                        @item.MeetingType
                                    </IgbChip>
                                </div>
                            </div>
                        </IgbListItem>
                    }
                </IgbList>
                <a href class="typography__body-2 hyperlink">
                    View Calendar
                </a>
            </div>
            <div class="column-layout group_3">
                <p class="typography__body-1 text">
                    Today’s Tasks
                </p>
                <IgbList class="list" home-scope>
                    @foreach (var item in cRMAppMeetingsTasks)
                    {
                        <IgbListItem>
                            <div slot="start">
                                <IgbAvatar Src="assets/Tasks-Avatar-Icon.svg" class="avatar" home-scope></IgbAvatar>
                            </div>
                            <div>
                                <div class="column-layout group_7">
                                    <div class="row-layout group_12">
                                        <p class="typography__subtitle-2 text_1">
                                            @item.Task
                                        </p>
                                        <p class="typography__subtitle-2 text_1">
                                            -
                                        </p>
                                        <p class="typography__subtitle-2 text_1">
                                            @item.Company
                                        </p>
                                    </div>
                                    <div class="row-layout group_13">
                                        <p class="typography__caption text_2">
                                            Due by
                                        </p>
                                        <p class="typography__caption text_2">
                                            @item.DueDate
                                        </p>
                                    </div>
                                    <IgbChip Size="SizableComponentSize.Large" class="chip" home-scope>
                                        @item.TaskStatus
                                    </IgbChip>
                                </div>
                            </div>
                        </IgbListItem>
                    }
                </IgbList>
                <a href class="typography__body-2 hyperlink">
                    View Calendar
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    private ECommerce.RevenueType[] eCommerceRevenue = Array.Empty<ECommerce.RevenueType>();
    private Northwind.CustomersType[] northwindCustomers = Array.Empty<Northwind.CustomersType>();
    private CRMApp.MeetingsTasksType[] cRMAppMeetingsTasks = Array.Empty<CRMApp.MeetingsTasksType>();

    protected override async Task OnInitializedAsync()
    {
        eCommerceRevenue = await this.eCommerceService.GetRevenue() ?? eCommerceRevenue;
        northwindCustomers = await this.northwindService.GetCustomers() ?? northwindCustomers;
        cRMAppMeetingsTasks = await this.cRMAppService.GetMeetingsTasks() ?? cRMAppMeetingsTasks;
    }
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
